body {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   max-width: 1240px;
   font-size: 12px;
   position: relative;
}

.error {
   display: none;
   font-size: 2rem;
   color: $secondary;
   @extend .lato700;
}

label {
   display: none;
}
